{$APP_HOST} {
  basic_auth {
    {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
  }

  handle /api/* {
    reverse_proxy api:3001
  }

  handle {
    root * /srv/web
    try_files {path} /index.html
    file_server
  }
}
